:root {
  /*========== Colors ==========*/
  --yellow-color: #ffeb55;
  --light-green-color: #00d27a;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
}

.section__subtitle {
  display: block;
  font-size: var(--h3-font-size);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--green-color);
  color: var(--text-color-white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  filter: invert(0);
  transition: filter 0.3s ease;
  box-shadow: -2px 13px 28px -10px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -2px 13px 28px -10px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -2px 13px 28px -10px rgba(0, 0, 0, 0.59);
}

.button:hover {
  filter: invert(1);
}

/*==================== HEADER ====================*/
/*======== NAV =========*/
nav {
  background-color: var(--lemon-green-color);
}

nav a {
  color: var(--text-color-white);
}

nav .logo-icon {
  background-color: var(--text-color-white);
  margin: 0.5rem 0;
}

.nav-donate-btn {
  background-color: var(--text-color-white);
  color: var(--lemon-green-color);
}

.active a {
  color: var(--pink-color);
}
/*==================== STORY ====================*/
.story {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.story .top,
.story .middle,
.story .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.story .top h1 {
  color: var(--pink-color);
  text-align: left;
  margin-bottom: 1rem;
}

.story .top .image,
.story .middle .image,
.story .bottom .image {
  width: 35%;
}

.story .top .text,
.story .middle .text,
.story .bottom .text {
  width: 50%;
}

/*==================== MISSION ====================*/
.mission {
  background-color: var(--violet-color);
  color: var(--text-color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.mission .middle {
  width: 50%;
  text-align: center;
  margin-right: 15rem;
}
.mission .middle p {
  text-align: center;
}
.mission .middle h2 {
  color: var(--yellow-color);
  margin-bottom: 1rem;
}
.mission .right {
  position: absolute;
  right: 3rem;
  top: -3rem;
}

/*==================== VISION ====================*/
.vision {
  background-color: var(--light-green-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 4rem;
}
.vision .middle {
  width: 50%;
  text-align: center;
  margin-right: 15rem;
}
.vision .middle p {
  text-align: center;
}
.vision .middle h2 {
  color: var(--text-color-white);
  margin-bottom: 1rem;
}
.vision .right {
  position: absolute;
  right: 3rem;
  top: -3rem;
}

/*==================== PROGRAMS ====================*/
.programs {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 4rem auto;
}

.programs .top .section__title {
  color: var(--violet-color);
}

.programs .grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 4rem 0;
  justify-content: space-evenly;
  gap: 2rem;
}

.programs .grid .programs-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 11px 27px -5px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px 11px 27px -5px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 11px 27px -5px rgba(0, 0, 0, 0.32);
}

.purple {
  background-image: url(../images/about/violet-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.green {
  background-image: url(../images/about/green-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pink {
  background-image: url(../images/about/pink-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.yellow {
  background-image: url(../images/about/yellow-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.programs .grid .programs-card .card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.programs .grid .programs-card .card-title .icon svg {
  width: 60%;
}

.programs .grid .programs-card .card-title h3 {
  font-size: var(--big-font-size);
  color: var(--text-color-white);
}

.programs .grid .programs-card .card-text p {
  color: var(--text-color-white);
}

.programs .grid .programs-card:last-child h3,
.programs .grid .programs-card:last-child p {
  color: black;
}
.programs .grid .programs-card:last-child .text {
  width: 70%;
}

/*==================== CONTRIBUTION ====================*/
.futures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-image: url(../images/about/futures-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem;
}

.futures h3 {
  font-size: var(--big-font-size);
  margin-bottom: 1.5rem;
  color: var(--text-color-white);
}

.futures-btn a {
  color: var(--pink-color);
  font-weight: 800;
  background-color: #ffeb55;
}

/*==================== FOOTER ====================*/
.footer {
  margin: 7rem 0 0 0;
  padding-top: 4rem;
  height: 16.6rem;
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-position: center;
}
.footer h3 {
  font-size: var(--h3-font-size);
  text-align: center;
  color: var(--text-color-white);
}

/*==================== MEDIA QUERIES ====================*/
/* For mobile devices */
@media screen and (max-width: 768px) {
  .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--text-color-white);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  /*==================== STORY ====================*/
  .story {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
  }

  .story .top,
  .story .middle,
  .story .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .story .middle {
    flex-direction: column-reverse;
  }

  .story .top h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .story .top .image,
  .story .middle .image,
  .story .bottom .image {
    width: 80%;
  }

  .story .top .text,
  .story .middle .text,
  .story .bottom .text {
    width: 100%;
    padding: 1rem;
  }

  /*==================== MISSION ====================*/
  .mission {
    flex-direction: column;
    height: 35rem;
  }
  .mission .middle {
    width: 100%;
    margin: 0rem;
    padding: 1rem;
  }
  .mission .left {
    position: absolute;
    top: 27rem;
    bottom: 0;
  }
  .mission .right {
    top: -3rem;
  }
  .mission .right svg {
    height: 80%;
    width: 80%;
  }
  /*==================== VISION ====================*/
  .vision {
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    height: 35rem;
  }
  .vision .middle {
    width: 100%;
    margin: 0rem;
    padding: 1rem;
  }
  .vision .left {
    position: absolute;
    top: 27rem;
    bottom: 0;
  }
  .vision .right {
    top: -2.5rem;
  }
  .vision .right svg {
    height: 80%;
    width: 80%;
  }

  /*==================== PROGRAMS ====================*/
  .programs {
    width: 100%;
  }
  .programs .grid {
    margin: 1rem;
    grid-template-columns: auto;
  }

  /*==================== CONTRIBUTION ====================*/
  .futures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-image: url(../images/about/futures-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6rem;
  }

  .futures h3 {
    font-size: var(--big-font-size);
    margin-bottom: 1.5rem;
    color: var(--text-color-white);
  }

  .futures-btn a {
    color: var(--pink-color);
    font-weight: 800;
    background-color: #ffeb55;
  }

  /*==================== CONTRIBUTION ====================*/
  .futures {
    height: 12rem;
    padding: 1rem;
  }

  .futures h3 {
    text-align: center;
  }
}
