:root {
  /*========== Colors ==========*/
  --yellow-color: #ffeb55;
}
/*==================== HEADER ====================*/
/*======== NAV =========*/
nav {
  background-color: var(--lemon-green-color);
}

nav a {
  color: var(--text-color-white);
}

nav .logo-icon {
  background-color: var(--text-color-white);
  margin: 0.5rem 0;
}

.nav-donate-btn {
  background-color: var(--text-color-white);
  color: var(--lemon-green-color);
}

.active a {
  color: var(--pink-color);
}
/*==================== BANNER ====================*/
.banner {
  position: relative;
  padding: 0;
  margin: 0;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  z-index: 2;
  margin: 6rem 0;
}

.banner-text h1 {
  font-size: 2.5rem;
  color: var(--yellow-color);
}

/*==================== CONTACT SECTION ====================*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  margin: 3rem auto;
}
.contact-section .title {
  margin: 2rem auto;
  text-align: center;
  color: var(--violet-color);
}
.contact-section .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}
.contact-info {
  padding: 0.5rem 3rem;
  width: 40%;
}

.contact-info p {
  margin: 5px 0;
}

.contact-form {
  width: 50%;
  padding: 0rem 3rem;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 2.5rem;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 100px;
}

.contact-form .button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  background-color: var(--pink-color);
}

/*==================== WAYS TO DONATE ====================*/
.donation .top h3 {
  color: var(--pink-color);
  font-size: var(--h3-font-size);
  text-align: center;
}

.donation .down {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 8rem;
}
.donation .down h3 {
  margin-bottom: 1rem;
}
/*==================== TO DONATE ====================*/

.to-donate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background-color: var(--pink-color);
  color: white;
}
.to-donate .text {
  max-width: 50%;
}
.to-donate .contribution-btn {
  max-width: 10%;
}

/*==================== FOOTER ====================*/
footer nav {
  background-color: white;
  color: var(--lemon-green-color);
}
footer nav li a {
  color: var(--lemon-green-color);
}

/*==================== MEDIA QUERIES ====================*/
/* For mobile devices */
@media screen and (max-width: 768px) {
  .hamburger span {
    background: var(--text-color-white);
  }

  /*==================== BANNER ====================*/
  .banner {
    position: relative;
    padding: 0;
    margin: 0;
    height: 86vh;
  }

  .banner-text {
    max-width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 7rem 0 0 0;
  }

  .banner-text h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  /*==================== PROGRAM LIST ====================*/
  .program-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
