:root {
  /*========== Colors ==========*/
  --yellow-color: #ffeb55;
}
/*==================== HEADER ====================*/
/*======== NAV =========*/
nav {
  background-color: var(--lemon-green-color);
}

nav a {
  color: var(--text-color-white);
}

nav .logo-icon {
  background-color: var(--text-color-white);
  margin: 0.5rem 0;
}

.nav-donate-btn {
  background-color: var(--text-color-white);
  color: var(--lemon-green-color);
}

.active a {
  color: var(--pink-color);
}
/*==================== BANNER ====================*/
.banner {
  position: relative;
  padding: 0;
  margin: 0;
  height: 86vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 0;
  z-index: 2;
  color: var(--text-color-white);
  text-align: center;
  max-width: 70%;
  height: 50%;
  padding: 0 20px;
  margin: 7rem 3rem 0 12rem;
}

.banner-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--yellow-color);
}

.banner-text p {
  margin-bottom: 2rem;
  line-height: 1.6;
  text-align: center;
}

/*==================== PROGRAM LIST ====================*/
.program-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.program-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.program-card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
}

.card-1 {
  background-image: url("../images/programs/happy.png");
}

.card-2 {
  background-image: url("../images/programs/woman.png");
}

.card-3 {
  background-image: url("../images/programs/child.png");
}

.card-4 {
  background-image: url("../images/programs/spa.png");
}

.card-5 {
  background-image: url("../images/programs/doc.png");
}

.card-6 {
  background-image: url("../images/programs/pe.png");
}

.card-7 {
  background-image: url("../images/programs/builder.png");
}

.card-8 {
  background-image: url("../images/programs/fam.png");
}

.card-9 {
  background-image: url("../images/programs/girl.png");
}

.card-10 {
  background-image: url("../images/programs/target.png");
}

.program-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  border-radius: 15px;
}

.program-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.program-card .svg-bg {
  height: 85px;
  width: 85px;
  background-color: var(--text-color-white);
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.program-card .svg-bg svg {
  height: 90%;
  width: 90%;
}
.program-card h3 {
  color: var(--yellow-color);
  font-size: var(--h2-font-size);
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}
.program-card ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-100%);
  opacity: 0;
  list-style: disc;
  color: var(--text-color-white);
  text-align: left;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  margin-top: 1rem;
  width: 70%;
}
.program-card:hover .program-title {
  opacity: 0;
}

.program-card:hover ul {
  opacity: 1;
  transform: translate(-50%, -50%) translateX(0);
}

/*==================== SPOTLIGHT ====================*/
.spotlight {
  display: flex;
  flex-direction: row;
  height: 30rem;
  align-items: center;
  justify-content: space-between;
}
.spotlight .left {
  width: 30%;
  margin-left: 10.5rem;
}
.spotlight .left .spotlight-btn {
  background-color: var(--yellow-color);
  color: var(--pink-color);
  font-weight: bold;
}
.spotlight .left h3 {
  font-size: var(--h2-font-size);
  color: var(--violet-color);
  margin-bottom: 2rem;
}
.spotlight .left h3 span {
  color: var(--pink-color);
}
.spotlight .right {
  width: 70%;
  margin: 0;
}
.spotlight .right img {
  height: 100%;
}

/*==================== IMPACT ====================*/
.impact {
  margin-top: 3rem;
}

.program-carousel {
  width: 100%;
  margin-top: 3rem;
}
.program-carousel-item {
  padding: 20px;
  border-radius: 1rem;
  margin: 0 1rem;
  width: 40rem !important;
}
.program-carousel-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.pink {
  background-color: #f8d7da;
}
.pink .program-carousel-icon{
  background-color: var(--pink-color);
}

.yellow{
  background-color: #FFEB55;
}
.yellow .program-carousel-icon{
  background-color: #FA7500;
}

.green{
  background-color: #c2f0c2;
}
.green .program-carousel-icon{
  background-color: #00A551;
}

.program-carousel-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 86%;
  margin-top: -80px;
  margin-left: 100px;
}
.program-carousel-content {
  max-width: 55%;
  margin-right: 20px;
}
.program-carousel-content p {
  text-align: center;
  font-size: 14px;
}
.program-carousel-button{
  margin-top: 2rem;
  }
.program-carousel-button .button{
  background-color: white;
  color: var(--pink-color);
  font-weight: bold;
}
.program-carousel-image {
  width: 100%;
}

.program-carousel .slick-prev,
.program-carousel .slick-next {
  display: none;
}

.program-carousel .slick-dots li button:before {
  color: black;
}

/*==================== DIFFERENCE ====================*/

.ways h3 {
  color: var(--violet-color);
}

.ways-card:first-child {
  background-image: url("../images/programs/teacher.png");
}

.ways-card:nth-child(2) {
  background-image: url("../images/programs/chips.png");
}

.ways-card:nth-child(3) {
  background-image: url("../images/programs/man.png");
}

.ways-card .overlay {
  z-index: 0;
}

.ways-card p {
  text-align: center;
  color: var(--text-color-white);
  z-index: 77;
  margin-top: 3rem;
}

.ways-card .button {
  background-color: white;
  color: var(--green-color);
  box-shadow: none;
  z-index: 77;
}

.ways-down-btn a {
  border-radius: 3rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For mobile devices */
@media screen and (max-width: 768px) {
  .hamburger span {
    background: var(--text-color-white);
  }

  /*==================== BANNER ====================*/
  .banner {
    position: relative;
    padding: 0;
    margin: 0;
    height: 86vh;
  }

  .banner-text {
    max-width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 7rem 0 0 0;
  }

  .banner-text h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  /*==================== PROGRAM LIST ====================*/
  .program-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
