/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== CSS VARIABLES ====================*/
:root {
  /*========== Colors ==========*/
  --lemon-green-color: #33cc33;
  --pale-violet-color: #8f4281;
  --dark-violet-color: #640d5f;
  --violet-color: #8c0384;
  --pink-color: #d91656;
  --green-color: #00a551;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --scroll-bar-color: var(--pale-violet-color);
  --scroll-thumb-color: var(--pink-color);

  /*========== Font and typography ==========*/
  --body-font: "Inter", "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-title-font-size: 4.69rem;
  --h1-font-size: 3.75rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.19rem;
  --big-font-size: 1.67rem;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --smaller-font-size: 12px;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
}

.section__subtitle {
  display: block;
  font-size: var(--h3-font-size);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--green-color);
  color: var(--text-color-white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  filter: invert(0);
  transition: filter 0.3s ease;
  box-shadow: -2px 13px 28px -10px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -2px 13px 28px -10px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -2px 13px 28px -10px rgba(0, 0, 0, 0.59);
}

.button:hover {
  filter: invert(1);
}

/*==================== PRE-LOADER ====================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(
    var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing))
  );
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00ff87;
}

.cell:nth-child(2) {
  --cell-color: #0cfd95;
}

.cell:nth-child(3) {
  --cell-color: #17fba2;
}

.cell:nth-child(4) {
  --cell-color: #23f9b2;
}

.cell:nth-child(5) {
  --cell-color: #30f7c3;
}

.cell:nth-child(6) {
  --cell-color: #3df5d4;
}

.cell:nth-child(7) {
  --cell-color: #45f4de;
}

.cell:nth-child(8) {
  --cell-color: #53f1f0;
}

.cell:nth-child(9) {
  --cell-color: #60efff;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

/*==================== HEADER ====================*/
header .logo-icon svg {
  width: 5rem;
}
/*======== NAV =========*/
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem;
  list-style: none;
}

nav a {
  color: var(--lemon-green-color);
  padding: 0 1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--violet-color);
}

.nav-donate-btn {
  background-color: var(--lemon-green-color);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.active a {
  color: var(--pink-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 100;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--lemon-green-color);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

/*==================== BANNER ====================*/
.banner {
  position: relative;
  padding: 0;
  margin: 0;
  height: 86vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*==================== CARING ====================*/
.caring {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5rem 4rem 3em;
  background-image: url("../images/caring-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sun {
  position: relative;
  bottom: 0;
  top: 27rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun img {
  animation: spin 17s linear infinite;
}

.caring .caring-text {
  margin-right: 3rem;
}

.caring h2 {
  text-align: left;
  color: var(--pale-violet-color);
}

.caring h2 span {
  color: var(--pink-color);
}

/*==================== DEDICATION ====================*/
.dedication {
  display: flex;
  justify-content: center;
}

.dedication .text {
  font-size: var(--big-font-size);
  display: flex;
  align-items: center;
  justify-content: left;
  width: 80%;
  height: 20rem;
  padding: 2rem 0 0 5rem;
  background-image: url("../images/people_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: var(--text-color-white);
}

.dedication p {
  width: 72%;
}

/*==================== ABOUT ====================*/
.about {
  background-color: #eefcff;
  height: 40rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
  justify-content: center;
}

.about .left {
  width: 55%;
  height: auto;
}

.about .left img {
  height: 100%;
}

.about .middle {
  position: absolute;
  max-width: 15rem;
  top: 29.6rem;
  bottom: 0;
}

.middle .fans {
  display: flex;
  flex-direction: row;
}

.pink-fan,
.purple-fan,
.green-fan {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  /* border: 3px solid red; */
}

.pink-fan {
  position: relative;
}

.pink-fan img:first-child {
  position: relative;
  top: 4.5rem;
  bottom: 0;
}

.pink-fan img:last-child {
  position: inherit;
  top: 2rem;
}

.purple-fan {
  position: relative;
}

.purple-fan img:first-child {
  position: relative;
  top: 2rem;
  bottom: 0;
}

.green-fan {
  position: relative;
}

.green-fan img:first-child {
  position: relative;
  top: 3rem;
  bottom: 0;
}

.middle .fans img {
  width: 100%;
  height: auto;
}

.to-spin {
  z-index: 1;
  animation: spin 5s linear infinite;
}

.about .right {
  width: 45%;
  padding: 6rem 5rem 3rem 3rem;
}

.about .right h2,
h4,
p {
  text-align: left;
}

.about .right h2 {
  color: var(--dark-violet-color);
}

.about .right h4 {
  color: var(--pink-color);
  font-size: var(--big-font-size);
}

.about .right .text {
  margin: 1.5rem 0;
  width: 83%;
}

.about-button {
  text-align: right;
  margin-top: 1rem;
}

.about-btn {
  border-radius: 30px;
}

/*==================== STATS ====================*/
/* Timeline Container */
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.timeline {
  width: 67%;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

.card:nth-child(odd) .stats-icon {
  position: absolute;
  top: 8rem;
}

.card:nth-child(even) .stats-icon {
  position: absolute;
  right: 1rem;
}

.stats-icon svg {
  height: 4rem;
  width: 4rem;
}

/* setting padding based on even or odd */
.card:nth-child(even) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(odd) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 60%;
  border: solid var(--green-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(even)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 15px 0 15px 15px;
  border-radius: 9rem 0 0 9rem;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(even)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(odd)::before {
  right: 0;
  top: -10.5px;
  bottom: -10.2px;
  border-width: 15px 15px 15px 0;
  border-radius: 0 9rem 9rem 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.info .text {
  position: absolute;
  right: 0;
  top: 3.3rem;
  left: 29rem;
  width: 30rem;
}

.info .text h2 {
  font-size: var(--h1-font-size);
  display: flex;
  align-items: center;
  color: var(--violet-color);
}

.info .text h2 span {
  font-size: var(--big-font-size);
  color: var(--pink-color);
  margin-left: 1.5rem;
}

.info .data {
  position: absolute;
  right: 0;
  top: 3.3rem;
  left: 26.8rem;
  width: 30rem;
  display: flex;
  flex-direction: row;
}

.info .data div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--violet-color);
  padding-left: 0;
}

.info .data h2 {
  font-size: var(--h1-font-size);
  display: flex;
  align-items: center;
}

.info .data p {
  margin-left: 1rem;
  width: 52%;
  color: var(--pink-color);
  font-size: var(--big-font-size);
  font-weight: 700;
}

/* dot of the timeline */
.dot {
  position: relative;
}

/* Timeline dot  */
.dot::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--lemon-green-color);
  border-radius: 999px;
  border: 3px solid var(--lemon-green-color);
}

/* text right if the card is odd  */
.card:nth-child(odd) > .info > .dot {
  text-align: right;
}

/* setting dot to the left if the card is even */
.card:nth-child(even) > .info > .dot::before {
  left: -28px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(odd) > .info > .dot::before {
  right: -28px;
}

.success-btn {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.success-btn a {
  background-color: var(--pink-color);
}

/*==================== PROGRAMS ====================*/
.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/green-background.png") no-repeat center;
  background-size: cover;
  color: var(--pink-color);
  height: 37rem;
  width: 100%;
}

.programs h3 {
  font-size: var(--h3-font-size);
}

.programs .dropdown {
  margin-top: 6rem;
  width: 50%;
}

.programs ul {
  padding: 0;
}

.programs .sub-menu {
  border-bottom: 1px solid black;
}

.programs .sub-menu:last-child {
  border-bottom: 0;
}

.programs ul li a {
  color: var(--pink-color);
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  font-weight: 800;
}
.programs ul li a:hover {
  background: var(--green-color);
  color: var(--text-color-white);
}
.programs ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
  float: right;
}
.programs ul li ul li a {
  border-left: 4px solid transparent;
  padding: 10px 20px;
}
.programs ul li ul li a:hover {
  background: var(--lemon-green-color);
}

.marquee {
  margin: 3rem 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
}
.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
.marquee-tag {
  display: inline-block;
  margin-right: 20px;
}
.marquee-tag img {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Pause animation on hover */
.marquee:hover .marquee-content {
  animation-play-state: paused;
}
.programs-btn a {
  background-color: var(--pink-color);
}

/*==================== DONATE ====================*/
.donate {
  width: 100%;
  height: 15rem;
  background-image: url(../images/programs/child.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6rem;
}
.donate-btn a {
  background-color: var(--dark-violet-color);
}

/*==================== HOPE STORIES ====================*/
.hope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hope h3 {
  color: var(--green-color);
  font-size: var(--h3-font-size);
  text-align: center;
}

.carousel {
  width: 60%;
  margin-top: 3rem;
}
.carousel-item {
  background-color: #f8d7da;
  padding: 20px;
  border-radius: 1rem;
}
.carousel-icon {
  background-color: var(--pink-color);
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.carousel-icon svg {
  width: 60%;
  height: auto;
}
.carousel-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 86%;
  margin-top: -80px;
  margin-left: 100px;
}
.carousel-content {
  max-width: 55%;
  margin-right: 20px;
}
.carousel-content p {
  text-align: center;
  font-size: 14px;
}

.carousel-image {
  width: 100%;
}

.slick-prev,
.slick-next {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #666;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
  /* border: none; */
  cursor: pointer;
  z-index: 1;
  margin: 0 -4rem;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: var(--lemon-green-color);
  color: white;
}

.slick-prev:before,
.slick-next:before {
  content: ""; /* Remove default icon */
}

.slick-prev::after {
  content: "<"; /* Left arrow symbol */
  font-family: Arial, sans-serif;
}

.slick-next::after {
  content: ">"; /* Right arrow symbol */
  font-family: Arial, sans-serif;
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
  color: #666;
}

.slick-dots li button:before {
  color: var(--pink-color);
}

.stories-btn {
  margin-top: 3rem;
}

/*==================== WAYS ====================*/
.ways {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ways h3 {
  color: var(--green-color);
  font-size: var(--h3-font-size);
  text-align: center;
}

.ways-card-container {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-between;
  margin-top: 3rem;
}

.ways-card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 15px;
  background-image: url("../images/people.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ways-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.ways-card p {
  text-align: center;
  color: var(--text-color-white);
  z-index: 77;
}

.ways-card .button {
  background-color: white;
  color: var(--green-color);
  box-shadow: none;
}

.ways-down-btn a {
  border-radius: 3rem;
}

/*==================== CONTRIBUTION ====================*/
.contribution {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  color: var(--text-color-white);
  background-color: var(--pink-color);
  padding: 8rem;
}

.contribution .left {
  height: 200px;
  width: 30%;
  background-image: url("../images/left-cocoa.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contribution .right {
  height: 200px;
  width: 30%;
  background-image: url("../images/right-cocoa.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contribution .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.contribution h3 {
  font-size: var(--h3-font-size);
  text-align: center;
}

.contribution p {
  text-align: center;
  margin: 1rem;
}

.contribution-btn a {
  color: var(--dark-violet-color);
  font-weight: 800;
  background-color: #ffeb55;
}

/*==================== FOOTER ====================*/
.footer {
  margin: 7rem 0 0 0;
  padding: 2rem 0 0 0;
}
.footer h3 {
  font-size: var(--big-font-size);
  text-align: left;
  color: var(--green-color);
  margin-bottom: 0.7rem;
}
.footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 0 6rem;
}
.footer .top .one,
.footer .top .two,
.footer .top .three {
  max-width: 30%;
}
.footer .middle ul li a:hover {
  color: var(--pink-color);
}

.footer .middle ul .active a {
  color: var(--pink-color);
}

.footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.footer .copyright {
  height: 4rem;
  background-color: var(--dark-violet-color);
  margin: 2.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .copyright p {
  color: var(--text-color-white);
  text-align: center;
}

/*==================== MEDIA QUERIES ====================*/
/* For extra large devices */
@media screen and (min-width: 1440px) {
  /* Timeline Container */
  .timeline {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8rem;
  }
  /*==================== CARING ====================*/
  .caring {
    justify-content: space-between;
    padding: 4rem 5rem 8rem 3em;
  }
  .sun {
    top: 30rem;
  }
}

/* For extra extra large devices */
@media screen and (min-width: 1920px) {
  /* Timeline Container */
  .timeline {
    width: 80%;
    padding-left: 18rem;
  }
  /*==================== CARING ====================*/
  .caring {
    justify-content: space-between;
    padding: 4rem 5rem 22rem 3em;
  }
  .sun {
    top: 42rem;
  }
  /*==================== DEDICATION ====================*/
  .dedication .text {
    height: 25rem;
  }
}

/* For mobile devices */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
  }
  header .logo-icon svg {
    width: 3rem;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
  }

  .nav-container.active {
    transform: translateX(0);
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 1.5rem 0;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  body.no-scroll {
    overflow: hidden;
  }

  /*==================== BANNER ====================*/
  .banner {
    height: 50vh;
  }

  /*==================== CARING ====================*/
  .caring {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }

  .caring h2 {
    font-size: var(--h2-font-size);
  }

  .sun {
    top: 2rem;
  }

  /*==================== DEDICATION ====================*/
  .dedication {
    padding: 1.6rem;
    background-color: var(--pink-color);
    margin: 1rem 0 1.5rem 0;
  }

  .dedication .text {
    font-size: var(--smaller-font-size);
    background: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 0rem;
    text-align: center;
  }

  .dedication p {
    width: 100%;
    text-align: center;
  }

  /*==================== ABOUT ====================*/
  .about {
    height: 70rem;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
  .about .left {
    width: 100%;
    height: 25rem;
    margin-top: 0rem;
  }
  .about .middle {
    position: relative;
    max-width: 100%;
    top: 1rem;
    padding: 0rem 3rem;
  }

  .pink-fan img:last-child {
    position: inherit;
    top: 2.6rem;
  }
  .about .right {
    width: 100%;
    padding: 2.3rem 1rem;
  }

  .about .right .text {
    margin: 1.5rem 0;
    width: 100%;
  }

  /*==================== STATS ====================*/
  /* Timeline Container */
  .stats {
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.3rem;
  }
  .timeline {
    width: 47%;
  }

  /* Card container */
  .card:nth-child(odd) .stats-icon {
    top: 3.8rem;
  }

  .card:nth-child(even) .stats-icon {
    right: 0.4rem;
  }

  .stats-icon svg {
    height: 2rem;
    width: 2rem;
  }

  /* setting padding based on even or odd */
  .card:nth-child(even) {
    padding: 12px 0 12px 12px;
  }
  .card:nth-child(odd) {
    padding: 12px 12px 12px 0;
  }
  /* Global ::before */
  .card::before {
    width: 53%;
  }

  /* Setting the border of top, bottom, left */
  .card:nth-child(even)::before {
    top: -3.6px;
    bottom: -3.4px;
    border-width: 10px 0 10px 10px;
  }

  /* Setting the border of top, bottom, right */
  .card:nth-child(odd)::before {
    top: -7px;
    bottom: -7px;
    border-width: 10px 10px 10px 0;
  }

  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .info .text {
    top: 1.6rem;
    left: 13rem;
    width: 10rem;
  }

  .info .text h2 {
    font-size: var(--h3-font-size);
  }

  .info .text h2 span {
    font-size: var(--small-font-size);
    margin-left: 0.5rem;
  }

  .info .data {
    top: 0rem;
    left: 12rem;
    width: 14rem;
  }

  .info .data div {
    width: 30%;
    justify-content: center;
  }

  .info .data h2 {
    font-size: var(--h3-font-size);
  }

  .info .data p {
    margin-left: 0.7rem;
    width: 40%;
    font-size: var(--small-font-size);
    font-weight: 700;
  }

  /* dot of the timeline */
  /* Timeline dot  */
  .dot::before {
    width: 15px;
    height: 15px;
  }

  /* setting dot to the left if the card is even */
  .card:nth-child(even) > .info > .dot::before {
    left: -16px;
  }

  /* setting dot to the right if the card is odd */
  .card:nth-child(odd) > .info > .dot::before {
    right: -18px;
  }

  .success-btn {
    margin: 4rem 0 0 4.7rem;
  }
  /*==================== PROGRAMS ====================*/
  .green-background {
    height: 25rem;
    width: 100%;
    padding-top: 3rem;
  }

  .programs .dropdown {
    margin-top: 2rem;
    width: 80%;
  }
  /*==================== DONATE ====================*/
  .donate {
    height: 10rem;
    padding-right: 3rem;
  }
  /*==================== HOPE STORIES ====================*/
  .carousel {
    width: 65%;
    margin-top: 3rem;
  }
  .carousel-item {
    background-color: #f8d7da;
    padding: 20px 10px;
    border-radius: 1rem;
  }
  .carousel-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    margin-right: 5px;
  }
  .carousel-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 0px;
    margin-left: 25px;
  }
  .carousel-content {
    max-width: 60%;
    margin-right: 20px;
  }
  .carousel-content p {
    text-align: center;
    font-size: 12px;
  }

  .carousel-image {
    width: 100%;
    margin-left: -1rem;
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0 -2rem;
  }
  /*==================== WAYS ====================*/
  .ways {
    width: 99%;
  }
  .ways h3 {
    color: var(--green-color);
    font-size: var(--h3-font-size);
    text-align: center;
  }
  .ways-card-container {
    flex-direction: column;
    width: 65%;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .ways-card {
    margin: 1.5rem auto;
  }
  /*==================== CONTRIBUTION ====================*/
  .contribution {
    height: 380px;
    padding: 0.2rem;
  }

  .contribution .left {
    height: 200px;
    width: 10%;
  }

  .contribution .right {
    height: 200px;
    width: 10%;
  }

  .contribution .middle {
    width: 80%;
  }

  .contribution p {
    margin: 1rem;
  }

  /*==================== FOOTER ====================*/
  .footer {
    margin: 1rem 0 0 0;
  }
  .footer h3 {
    margin-bottom: 0.7rem;
  }
  .footer .top {
    flex-direction: column;
    align-items: left;
    margin: 2rem 0;
    padding: 0 2rem;
  }
  .footer .top .one,
  .footer .top .two,
  .footer .top .three {
    max-width: 100%;
    margin-top: 2rem;
  }
}
